body {
    background-color: #140a13;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;

}

img {
    border: 1px #f78def solid;
    border-radius: 1%;
    display: block;
    margin: 0 auto;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #f78def;
}